#fotos{
	position:relative;
	margin: 0 auto;
	width: 768px;
	height: 441px;
	background-image: url(img/fondo-fotos2.png);
	background-repeat: no-repeat;
}

#boton-sig{
	
}

#boton-ant{
	
}

#slider{
	margin: 0 54px;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider, #slider li{ 
	width:512px;
	height:384px;
	overflow:hidden; 
	
}

#slider li img{
	height: 288px;
	width: 512px;
	margin-top: 24px;
	overflow:hidden;
		
}

#fotos span{
	position:absolute;
	top:193px;
}
	 
span#prevBtn{
	right:790px;
}
span#nextBtn{
	left:790px;
}

#slider li p{
	 bottom: 8px;
	 margin-top: 22px;
	 text-align: center;
	 width:100%;
	 left:0;
	 color:#FFFFFF;
	 font-size: 11px;
}

.hasFloats { 
	_height: 1%; 
}

.hasFloats:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	clear: both; 
	height: 0; 
	font-size: 0; 
}