html,body {
    height:100%;
    color:#663300;
}

body {
	margin: 0px;
 	background: url(img/fondo4.gif); 
 	background-repeat: repeat; 
	font-family: Verdana, Arial, sans-serif;
}


#main{
	margin:auto;
	max-width:1278px;
	/*height:553px;*/
	background: url(img/degrade2.png);
	background-position: right;
	background-repeat: repeat-y;
	min-height:100%;
	height: auto !important;
	position:relative;
}

#header{
	height:140px;	
}

#center{
	background: url(img/fondo2.jpg);
	bottom:0;
	background-repeat: repeat-y;
	top:0;
	margin-top:140px;
	width:100%;
	max-width:1278px;
	position:fixed;
	overflow-y: auto;
}

#incenter{
	position:relative;
	bottom:0;
	min-height:100%;
}

#hola{
	position:absolute;
}

#inincenter{
	overflow: hidden;
	min-height: 100%;
}

#pusher{
	height:170px;
}

#logo{
	float:left;
	margin-top:12px;
	z-index: 2;
	overflow: visible;
	position:fixed;
}

#logoPusher{
	visibility: hidden;
	
}

#otroLogo{
	float:right;
	margin: 40px 44px 10px 10px;
}

#botonera{
	float: left;
	width:250px;
	padding: 100px 10px 10px 20px;
	position:relative;
}

.boton{
	background:url(img/boton4.png);
	width: 163px;
	height: 35px;
	margin-left:12px;
	padding: 0px 12px 19px 8px;
	
}

.boton:hover{
	background:url(img/seleccionado2.png);
}

.boton a{
	display:block;
	color:#FFFFFF;
	padding: 13px 0px 14px 20px;
	font-size: 13px;
}

#sociales{
	margin: 110px 0 60px 14px;
}

#sociales div{
	margin:10px 0 0 5px;
}

#sociales div a {
	font-size: 90%;
}

#sociales div a img{
	margin-right:3px;
	vertical-align: text-bottom;
}


#contenido{
	margin-top:60px;
	float:left;
}

.clear{
	clear: both;
	height:1px;
    overflow:hidden;
}

#footer{
	height:40px;
	background-color: #663300;
	width:100%;
	max-width:1278px;
	position:absolute;
	bottom:0;
	color: #c0c0c0;
	
}

#footer div{
	margin:auto;
	height: 100%;
	text-align:center;
	font-size:80%;
	width:100%;
	line-height: 40px;
}

a{
	color:#663300;
	text-decoration: none;
}