html,body {
    height:100%;
    color:#663300;
}

body {
	margin: 0px auto;

	font-family: Verdana, Arial, sans-serif;
	background-position: right;
	
		
	min-height:100%;
	height: auto !important;
	position:relative;
	
	max-width:1278px;
 	background: url(img/fondo4.gif) fixed; 
 	
}


#main{

	/*height:553px;*/
	background: url(img/degrade2.png);

}



#header{
	height:140px;	
	z-index: 1;
	overflow-y: visible;
	position: absolute;
	top:0;
	width:100%;
	max-width:1278px;
 	background: url(img/fondo4.gif); 
 	background-repeat: repeat; 
 	background-attachment: fixed;
 	
	
}

* html body{
	overflow:hidden;
} 

@media screen{
  body>div#header{
   position: fixed;
  }
 }
 
* html div#center{
	height:100%;
	overflow:auto;
}

#center{
	/*background: url(img/fondo2.jpg);*/
	bottom:0;
	background-repeat: repeat-y;
	top:140px;
	position:absolute;
	min-width:100%;
	max-width:1278px;
	/*overflow-x: auto;*/
	/*height: auto !important;*/
	
	/*height:100%;*/
	/*overflow:auto;*/
	
}

#incenter{
	position:relative;
	/*bottom:0;*/
	min-height:100%;
	background: url(img/fondo2.jpg);
	background-repeat: repeat-y;
}

#inincenter{
	overflow: hidden;
	min-height: 650px;
}

#pusher{
	height:170px;
}

#logo{
	float:left;
	margin-top:12px;
	z-index: 2;
	overflow: visible;
	/*position:fixed;*/
}

#logoPusher{
	visibility: hidden;
	display:none
}

#otroLogo{
	float:right;
	margin: 40px 44px 10px 10px;
}

#botonera{
	width:250px;
	padding: 100px 10px 10px 20px;
	position:absolute;
	top:0;
	bottom:0;
}

.boton{
	background:url(img/boton4.png);
	width: 163px;
	height: 35px;
	margin-left:12px;
	padding: 0px 12px 19px 8px;
	
}

.boton:hover{
	background:url(img/seleccionado2.png);
}

.boton a{
	display:block;
	color:#FFFFFF;
	padding: 13px 0px 14px 20px;
	font-size: 13px;
}

#sociales{
	margin: 110px 0 60px 14px;
}

#sociales div{
	margin:10px 0 0 5px;
}

#sociales div a {
	font-size: 90%;
}

#sociales div a img{
	margin-right:3px;
	vertical-align: text-bottom;
}


#contenido{
	margin-top:100px;
	overflow:hidden;
	margin-left:280px;
}

.clear{
	clear: both;
	height:1px;
    overflow:hidden;
}

#footer{
	height:40px;
	background-color:#663300;
	width:100%;
	max-width:1278px;
	position:absolute;
	bottom:0;
	color:#c0c0c0;
	
}

#footer div{
	height: 100%;
	text-align:center;
	font-size:80%;
	width:100%;
	line-height: 40px;
}

a{
	color: #663300;
	text-decoration: none;
}